#nav{
    display: flex;
    width: 100%;
    background-color: #32315d;
    height: 70px;
    justify-content: space-between;
}
#div_img{
    width: 320px;
    margin-left: 20px;
}
#img{
    width:70%;
    margin:20px;
    padding-left: 20px;
}
#nav_sub{
    margin-right: 40px;
}
h1,.nav_info{
    margin: 0;
}
.class_info{
    list-style-type: none;
    float: left;
    color: #7273b0;
    text-decoration: none;
    padding: 17px 17px 17px 25px;
    margin-top: 7px;
}
.class_info:hover{
    margin-top: 0.6em;
}
.select{
    border: none;
    background-color: #32315d;
    color: #7273b0;
    font-size: 15px;
    margin-top: 0.03em;
    text-align: center;
}
.select:hover{
    border: none;
    background-color: #32315d;
    color: white;
    font-size: 15px;
    margin-top: 0.2em;
}
.dropdown-container {
    display: none;
}

@media screen and (max-width: 950px) {
    #nav_sub {
        margin-right: 0;
    }
    #div_img {
        width: 320px;
        margin-left: 0;
    }
}

@media screen and (max-width: 890px){
    #nav_sub{
        display: none;
    }
    .dropdown-container:hover .dropdown-menu {
        display: block;
    }
    .dropdown-container {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .menu-button {
        background-color: #7273b0;
        border: none;
        color: white;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        border-radius: 10%;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #7273b0;
        color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px 0;
        z-index: 1;
        overflow: hidden;
    }
    .dropdown-menu a {
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
    }

    .dropdown-menu a:hover {
        background-color: #333333;
    }

}


@media screen and (max-width: 500px){
    #div_img{
        margin-left: 0;
    }
    #nav_sub{
        display: none;
    }
}


