#nav{
    display: flex;
    width: 100%;
    background-color: #32315d;
    height: 70px;
    justify-content: space-between;
}
#div_img{
    margin: auto 60px;
}

section {
    margin: auto 20px;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

section a:hover {
    background-color: #32315d;
    color: #eaeaea;
    transform: scale(1.1);
}




