#main-title{
    margin: 40px 50px;
    padding: 20px 0 20px 35px;
    background-color: #ffffff;
    border-radius: 7px;
}

@media screen and (max-width: 890px){
    #main-title{
        margin: 40px 7px;
        padding: 20px 0 20px 35px;
        background-color: #ffffff;
    }
}

